html, body {
	font-family: 'Lato', sans-serif;
	overflow: visible;
}
body {
	background: #ffffff;
	overflow-y: scroll;
	overflow-x: hidden;
}
iframe {
	display: none;
}
#summary {
	display: none;
}
form {
	margin: 0;
}
.wrapper {
	margin-bottom: 60px;
	position: relative;
}
#main {
	background: #E5E5E5;
}
.drawers {
	position: absolute;
}
.drawers .left-drawer {
	position: absolute;
}
.container {
	padding: 0 4%;
}
.snap-drawer-left {
    z-index: 0;
}
.snap-content {
	position: static;
}
.toggle i {
	margin: 13px 8px 0 0;
	display: inline-block;
	cursor: pointer;
}
/* navbar override */
.navbar .nav > li > a {
	padding: 10px;
	text-transform: uppercase;
}

/* ordered list override */
ol, ol li {
	list-style: decimal-leading-zero;
}
ol li {
	margin-left: 30px;
}
/* artist card */
.media {
	display: inline-block;
	position: relative;
}
/* taken from google music (ninja style!)*/
.card {
	background: none repeat scroll 0 0 white;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	cursor: default;
	font-weight: 300;
	margin: 5px;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	white-space: nowrap;
}
.media .actions {
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
.media:hover .actions {
	display: block;
}
.card .image-wrapper {
	border-radius: 2px 2px 0 0;
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 160px;
	background-repeat: no-repeat;
	background-color: #EEE;
	background-size: cover;
}
.card .image-inner-wrapper {
	border-radius: 2px 2px 0 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.card .image {
	border-radius: 2px 2px 0 0;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	vertical-align: top;
	width: 100%;
}
.card .details {
	margin: 7px 10px;
	overflow: hidden;
}
.fade-out:after {
	bottom: 0;
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.card .title {
	color: #333333;
	cursor: pointer;
	font-size: 16px;
	line-height: 18px;
	max-height: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
}
.card .subtitle {
	color: #888;
	font-size: 14px;
}
.fade-out {
	overflow: hidden;
	position: relative;
	white-space: nowrap;
}

/* animations */
.view {
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
	opacity: 1;
}
#content .wrapper > div {
	/* hardware */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
#content .wrapper > .child {
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
	opacity: 0;
	-webkit-transform: translate3d(110%, 0, 0) scale(0.001);
	-moz-transform: translate3d(110%, 0, 0) scale(0.001);
	-ms-transform: translate3d(110%, 0, 0) scale(0.001);
	transform: translate3d(110%, 0, 0) scale(0.001);
}
#content .wrapper > .parent {
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
	opacity: 0;
	-webkit-transform: translate3d(-110%, 0, 0) scale(0.001);
	-moz-transform: translate3d(-110%, 0, 0) scale(0.001);
	-ms-transform: translate3d(-110%, 0, 0) scale(0.001);
	transform: translate3d(-110%, 0, 0) scale(0.001);
}
.navbar .close {
	margin-top: 10px;
}
.media > ul {
	display: none;
}

/* album info */
.albumInfo {
	overflow: hidden;
}
.albumInfo img {
	width: 250px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-radius: 5px;
	border: 1px solid : #333;
	margin: 0 15px 15px 0;
	float: left;
}
.albumInfo ol {
	float: left;
}

/* artist info */
#artistInfo {
	display: none;
}
#artistArt {
	float: left;
	margin: 9px 15px 9px 0;
}
table tr td {
	cursor: default;
}
table tr.playable td {
	cursor: pointer;
}
table td {
	height: 40px;
	vertical-align: middle;
}
table td.trackno {
	text-align: center;
}
table th.trackno {
	width: 40px;
	text-align: center;
}
table th.dur {
	width: 100px;
}
.table th, .table td {
	vertical-align: middle;
}
.table td.eq {
	vertical-align: top;
}
#artistOverviewView .media-list {
	margin-bottom: 80px;
}
#artistView .well {
	padding: 5px;
}
#artistView .well2 {
	margin-bottom: 80px;
}
#albumView .well {
	position: relative;
	overflow: hidden;
	margin-bottom: 80px;
}
#albumView .art {
	border-radius: 5px;
	box-shadow: 0 0 2px;
	float: left;
	margin: 0 1% 0 0;
	width: 19%;
}
#albumView table {
	position: relative;
	z-index: 1;
	width: 80%;
}
.table-striped tbody > tr.playable:hover > td, .table-striped tbody > tr.playable:hover th {
	background-color: #D9EDF7;
	color: #3A87AD;
}
/* loader */
#loader {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 3px solid #AAAAAA;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 0 5000px rgba(0,0,0,0.75);
	bottom: 0;
	display: block;
	height: 88px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 374px;
	z-index: 1;
}
#loader img {
	display: block;
	margin: 5px auto 0;
}

/* player */
#player {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #F5F5F5;
	border-top: 1px solid #cccccc;
	box-shadow: 1px -1px 0 rgba(0,0,0,0.25);
	z-index: 3;
	-webkit-transition: translate3d(0,0,0);
}
#player .thumbnail {
	width: 9%;
	position: absolute;
	left: 2px;
	bottom: 2px;
	background: #ffffff;
}
#player .info-Title {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#player .info {
	white-space: nowrap;
}
#player .info-Artist {
	margin: 0;
	white-space: nowrap;
	display: inline-block;
}
#player .info-Album {
	white-space: nowrap;
	display: inline-block;
}
#player .well {
	margin: 0;
	border: 0;
}
.progressBar {
	position: relative;
	cursor: pointer;
}
.progressBar .progress {
	height: 3px;
	margin-bottom: 0;
}
.progressBar .progress:hover {
	height: 15px;
	margin: 1px 0;
	border: 1px solid #ddd;
	cursor: pointer;
}
.progressBar .time {
	position: absolute;
	padding: 2px 3px;
	border: 1px solid #cccccc;
	top: -12px;
	background: #ffffff;
}

.progressBar .start {
	left: -50px;
}
.progressBar .stop {
	right: -50px;
}
.lightbox-content .time {
	background: transparent;
	border: 0;
	top: 16px;
}
.lightbox-content .progressBar .start {
	left: 0;
}
.lightbox-content .progressBar .stop {
	right: 0;
}

/* playlist */
.playlist .group .art {
	border-radius: 5px;
	box-shadow: 0 0 2px;
	margin: 0 1% 0 0;
	width: 19%;
}
.playlist .group table {
	width: 80%;
}
.playlist .group h3 {
	padding-top: 2%;
}
audio {
	display: none;
}
@media (max-width: 767px) {
	.media {
		width: 24%;
	}
	.progressBar .start {
		left: 2px;
		top: 3px;
	}
	.progressBar .stop {
		right: 2px;
		top: 3px;
	}
	#player .span9 > .span5 {
		margin-top: 25px;
	}
	#player .thumbnail {
		left: auto;
		right: 24px;
		width: 13.5%;
	}
	#player > .close {
		position: absolute;
		right: 6px;
		bottom: 2px;
	} 
}

@media (max-width: 480px) {
	.media {
		width: 100%;
		margin-top: -2px;
	}
	.card {
		width: 98%;
		margin: 1%;
	}
	.card .image-wrapper {
		height: 120px;
	}
	#artistView .well2 {
		padding: 0px;
	}
	#player .thumbnail {
		width: 27.5%;
	}
}
@media (min-width: 480px) {
	.card {
		width: 94%;
	}
	.card .image-wrapper {
		height: 120px;
	}
	#artistView .well2 {
		padding: 0px;
	}
}
@media (min-width: 767px) {
	.card {
		width: 166px;
	}
}
@media (min-width: 980px) {
	.card {
		width: 220px;
	}
	.card .image-wrapper {
		height: 140px;
	}
}
@media (min-width: 1200px) {
	.media-list {
		margin-left: 1.5%;
	}
	#artistView .well2 {
		padding: 5px;
	}
	.card {
		width: 270px;
	}
	.card .image-wrapper {
		height: 160px;
	}
}

