* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
	font-family: 'Titillium Web', sans-serif;
	overflow: visible;
	-webkit-text-stroke: 0.2px;
}
body {
	background: #e5e5e5;
	overflow-y: scroll;
	overflow-x: hidden;
}
iframe {
	display: none;
}
#summary {
	display: none;
}
form {
	margin: 0;
}
.wrapper {
	margin-bottom: 120px;
	position: relative;
}
#main {
	background: #E5E5E5;
}
.drawers {
	position: absolute;
}
.drawers .left-drawer {
	position: absolute;
}
.container {
	padding: 0 4%;
}
.snap-drawer-left {
	z-index: 0;
	background: #ffffff;
	padding-top: 100px;
}
.snap-drawer-left li.highlight {
	background: #DFF0D8;
	border: 1px solid #D6E9C6;
	color: #468847;
}
.snap-drawer-left li.highlight a:after {
	content: ' - Login here';
}
.snap-content {
	position: static;
	overflow-x: hidden;
	min-height: 100%;
}
header {
	position: relative;
	z-index: 1000;
	background: #E5E5E5;
}
header h1 > a {
	display: block;
	line-height: 47px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 7px;
	text-decoration: none;
	color: #333333;
}
header h1 > a:hover, header h1 > a:active, header h1 > a:focus {
	text-decoration: none;
	color: #333333;
	outline: none;
}
header h1 > a .artist {
	color: #AAAAAA;
	font-size: 14px;
	display: block;
	margin-top: -2px;
	line-height: 16px;
}
header h1.toggle i {
	margin: 12px 8px 0 9px;
	float: left;
}
header .dropdown {
	display: inline-block;
	float: right;
	margin: 30px 10px 0 0;
}
header .dropdown button {
	border: 0;
	background: none;
	color: #333333;
	font-size: 44px;
}
header .dropdown-menu {
	float: none;
	left: 10px;
	position: fixed;
	right: 10px;
	top: 45px;
}
header .dropdown-menu li {
	display: inline-block;
}
header .dropdown-menu li a {
	padding: 10px 0;
	text-align: center;
	white-space: nowrap;
	width: 40px;
}
header .dropdown-menu li.active a {
	background: #E5E5E5;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
	color: #555555;
	text-decoration: none;
}
header button {
	margin-top: -6px;
}
.toggle i {
	margin: 23px 8px 0 0;
	display: inline-block;
	cursor: pointer;
}
/* navbar override */
.navbar .nav {
	margin-right: 0;
}
.nav-list .nav-header {
	font-size: 20px;
	text-transform: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	border-bottom: 1px solid #999;
	margin-right: 0;
}
.navbar .nav > li > a {
	padding: 10px;
	text-transform: uppercase;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	-ms-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.nav > li > a:hover, .nav > li > a:focus {
	background: #E5E5E5;
}
.nav-list > li > a {
	padding: 10px 15px;
}
.navbar .nav > li > a.highlight {
	background: #a9dffa;
}
.snap-drawer-left > ul {
	padding-right: 0;
}

/* ordered list override */
ol, ol li {
	list-style: decimal-leading-zero;
}
ol li {
	margin-left: 30px;
}
/* artist card */
.media {
	display: inline-block;
	position: relative;
	overflow: visible;
}
.media.highlight .card {
	background: #a9dffa;
}
.media a {
	text-decoration: none;
}
.media .image-wrapper {
	opacity: 0.9;
}
.media a:hover .image-wrapper {
	opacity: 1;
}
/* taken from google music (ninja style!)*/
.card {
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	-ms-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
	background: none repeat scroll 0 0 white;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	cursor: default;
	font-weight: 300;
	margin: 5px;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	white-space: nowrap;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
}
.card:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.media .actions {
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
.media:hover .actions {
	display: block;
}
#albumPlaylist .group {
	position: relative;
	margin-bottom: 20px;
}
#albumPlaylist .group h3 {
	margin: 0;
	padding: 0;
}
#albumView .actions, #albumPlaylist .actions {
	position: absolute;
	left: 5px;
	top: 9px;
	display: none;
}
#albumPlaylist .actions {
	top: 25px;
}
.card .image-wrapper {
	border-radius: 2px 2px 0 0;
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 160px;
	background-repeat: no-repeat;
	background-color: #EEE;
	background-size: cover;
	background-image: url(../images/nocover.png);
}
.card .image-inner-wrapper {
	border-radius: 2px 2px 0 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.card .image {
	border-radius: 2px 2px 0 0;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	vertical-align: top;
	width: 100%;
}
.card .details {
	margin: 7px 10px;
	overflow: hidden;
}
.fade-out:after {
	bottom: 0;
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.card .title {
	color: #333333;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	max-height: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
}
.card .subtitle {
	color: #888;
	font-size: 14px;
}
.fade-out {
	overflow: hidden;
	position: relative;
	white-space: nowrap;
}

/* animations */
.container {
	overflow: hidden;
}
#content {
	position: relative;
}
#content .wrapper {
	/* hardware */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	-ms-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
	opacity: 1;
	z-index: 1;
	float: left;
	width: 100%;
}

#content .wrapper.ng-enter {
	-webkit-transform: translate3d(110%, 0, 0);
	-moz-transform: translate3d(110%, 0, 0);
	-ms-transform: translate3d(110%, 0, 0);
	transform: translate3d(110%, 0, 0);
	opacity: 0;
}
#content .wrapper.ng-enter.ng-enter-active {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
}
#content .wrapper.ng-leave {
	z-index: 0;
	position: absolute;
}
#content .wrapper.ng-leave.ng-leave-active {
	-webkit-transform: translate3d(-150%, 0, 0);
	-moz-transform: translate3d(-150%, 0, 0);
	-ms-transform: translate3d(-150%, 0, 0);
	transform: translate3d(-150%, 0, 0);
	opacity: 0;
	position: absolute;
}

.navbar .close {
	margin-top: 10px;
}
.media > ul {
	display: none;
}

/* album info */
.albumInfo {
	overflow: hidden;
}
.albumInfo img {
	width: 250px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	border-radius: 5px;
	border: 1px solid #333;
	margin: 0 15px 15px 0;
	float: left;
}
.albumInfo ol {
	float: left;
}

/* artist info */
#artistInfo {
	display: none;
}
#artistArt {
	float: left;
	margin: 9px 15px 9px 0;
}
table tr td, table tr th {
	cursor: default;
	background-color: #eee;
}
table tr.playable td {
	cursor: pointer;
}
table td {
	height: 40px;
	vertical-align: middle;
}
table td.trackno {
	text-align: center;
}
#albumView table td.trackno, #albumView table td.dur {
	color: #3A87AD;
}
#albumView table td.trackno {
	width: 25px;
	padding-bottom: 0;
}
#albumView table td.trackno span {
	display: block;
	width: 25px;
	height: 25px;
	text-align: center;
	overflow: hidden;
}
#albumView table td.dur {
	width: 45px;
}
table td.time {
	width: 40px;
}
table th.trackno {
	width: 40px;
	text-align: center;
}
table th.dur {
	width: 40px;
}
.table tr.highlight td {
	background: #a9dffa !important;
	position: relative;
	z-index: 1;
}
.table th, .table td {
	vertical-align: top;
	line-height: 33px;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	-ms-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.table tr button {
	display: none;
	position: relative;
	right: -10px;
}
.table tr:hover button {
	display: none;
}
.table td.eq {
	vertical-align: top;
}
#artistOverviewView .media-list {
	margin-bottom: 80px;
}
#artistView .well {
	padding: 5px;
}
#artistView .well2 {
	margin-bottom: 80px;
}
#albumView .well {
	position: relative;
	overflow: hidden;
	margin-bottom: 80px;
}
#albumView .art {
	border-radius: 5px;
	box-shadow: 0 0 2px;
	float: left;
	margin: 0 1% 0 0;
	width: 19%;
}
#albumView table {
	position: relative;
	z-index: 1;
	width: 80%;
}
#albumView table.table-bordered {
	width: 100%;
}
.table-striped tbody > tr.playable:hover > td, .table-striped tbody > tr.playable:hover th {
	background-color: #D9EDF7;
	color: #3A87AD;
}
#albumView .albumDetails {
	overflow: hidden;
}
#albumView .albumDetails .details {
	width: 77%;
	margin-left: 3%;
	float: left;
}
/* loader */
#loader {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 3px solid #AAAAAA;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 0 5000px rgba(0,0,0,0.75);
	bottom: 0;
	display: block;
	max-height: 115px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 325px;
	z-index: 10000;
}
#loader h2 {
	font-size: 28px;
}
#loader img {
	display: block;
	margin: 5px auto 0;
}

/* player */
#player {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #F5F5F5;
	border-top: 1px solid #cccccc;
	box-shadow: 1px -1px 0 rgba(0,0,0,0.25);
	z-index: 3;
	height: 85px;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	-ms-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
#player .container {
	overflow: visible;
}
#player .thumbnail {
	position: absolute;
	bottom: 4px;
	background: #ffffff;
	margin-left: -1.3%;
	max-width: 100px;
}
#player .info-Title {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#player .info-Title.local {
	color: #3A87AD;
}
#player .info {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#player .info-Artist {
	margin: 0;
	white-space: nowrap;
	display: inline-block;
}
#player .info-Album {
	white-space: nowrap;
	display: inline-block;
}
#player .well {
	margin: 0;
	border: 0;
}
#player.noshow {
	height: 11px;
}
#player.noshow .thumbnail {
	opacity: 0;
}
#player.noshow .progressBar {
	display: none;
}
.progressBar {
	position: relative;
	cursor: pointer;
}
.progressBar .progress {
	height: 15px;
	margin: 1px 0;
	border: 1px solid #ddd;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.progressBar .time {
	position: absolute;
	padding: 2px 3px;
	border: 2px solid #cccccc;
	top: 2px;
	background: #ffffff;
	z-index: 2;
}

.progressBar .start {
	left: -55px;
}
.progressBar .stop {
	right: -55px;
}
.progressBar .progress .bar {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.progressBar .progress .buffer {
	z-index: 0;
	opacity: 0.1;
}
.lightbox-content .time {
	background: transparent;
	border: 0;
	top: 16px;
}
.lightbox-content .progressBar .start {
	left: 0;
}
.lightbox-content .progressBar .stop {
	right: 0;
}
/*
 #player:hover .thumbnail {
 max-width: inherit;
 }
 */
#player .buffering {
	float: right;
	margin-top: -35px;
}
#player button {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 0 none;
	color: #333333;
	font-size: 30px;
	margin-right: 10px;
	text-align: center;
	width: 32px;
}
#player button.small {
	font-size: 18px;
}
#player .span9 .toggleMaximize {
	display: none;
}
/* playlist */
.playlist .group .art {
	border-radius: 5px;
	box-shadow: 0 0 2px;
	margin: 40px 1% 0 1%;
	width: 18%;
}
.playlist .group table {
	width: 80%;
}
audio {
	display: none;
}
#albumart img {
	max-width: none;
	width: 100%;
}
#albumart .lightbox-caption p {
	display: none;
}
#breadcrumbs button {
	display: none;
}
.navbar-inner {
	padding: 0 10px;
}
@media (max-width: 767px) {
	.media {
		width: 24%;
	}
	.progressBar .start {
		left: 2px;
		top: -6px;
	}
	.progressBar .stop {
		right: 2px;
		top: -6px;
	}
	#albumart .progressBar .time {
		top: 30px;
	}
	#player .span9 > .span5 {
		margin-top: -4px;
		width: 50%;
		float: left;
	}
	#player .span9 > .span4 {
		margin-top: -4px;
		width: 50%;
		float: left;
	}
	.btn-group + .btn-group {
		margin-left: 0;
	}
	#player .thumbnail {
		left: auto;
		right: 24px;
		width: 9.5%;
		bottom: 9px;
	}
	#player > .close {
		position: absolute;
		right: 6px;
		bottom: 2px;
	}
	.progressBar .progress {
		margin: 1px 60px 0;
	}
}

@media (max-width: 480px) {
	.media {
		width: 100%;
		margin: 0 0 20px;
	}
	.card {
		width: 98%;
		margin: 0 0 5px 3px;
	}
	.card .image-wrapper {
		height: 120px;
	}
	#artistView .well2 {
		padding: 0px;
		background: none;
	}
	#player .thumbnail {
		width: 20.5%;
		right: auto;
		bottom: 47px;
	}
	#player.noshow {
		height: 30px;
	}
	#player.noshow .thumbnail {
		width: 0%;
	}
	#albumView .art {
		width: 100%;
		float: none;
	}
	#albumView table {
		width: 100%;
		margin-top: 10px;
	}
	#player {
		height: 148px;
	}
	#player > .close {
		display: none;
	}
	#player .info {
		width: 243px;
	}
	.playlist .group .art {
		display: none;
	}
	.playlist .group table {
		width: 100%;
	}
	.media .actions {
		top: auto;
		bottom: 0;
		display: none;
	}
	.media .actions .albumAddedToPlaylist {
		top: -27px;
	}
	#albumPlaylist .actions {
		top: auto;
		left: auto;
		right: 0;
	}
	.table tr button {
		display: none;
		width: 27px;
		padding: 0;
	}
	#mute-btn, #toggle-btn {
		display: none;
	}
	#player .span9 > .span5 {
		padding-left: 23%;
		margin-top: 19px;
	}
	#player .span9 > .span5 {
		width: 100%;
		float: none;
	}
	#player .span9 > .span4 {
		width: 100%;
		float: none;
	}
	.btn-group + .btn-group {
		margin-left: 5px;
	}
}
@media (min-width: 480px) {
	.card {
		width: 94%;
	}
	.card .image-wrapper {
		height: 120px;
	}
	#artistView .well2 {
		padding: 0px;
	}
}
@media (min-width: 767px) {
	.card {
		width: 166px;
	}
}
@media (min-width: 980px) {
	.card {
		width: 220px;
	}
	.card .image-wrapper {
		height: 140px;
	}
}
@media (min-width: 1200px) {
	.media-list {
		margin-left: 1.5%;
	}
	#artistView .well2 {
		padding: 5px;
	}
	.card {
		width: 270px;
	}
	.card .image-wrapper {
		height: 160px;
	}
}

/* fullscreen mode */
#albumart:fullscreen .lightbox-content {
	margin-top: 20px;
	width: 100% !important;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	display: block;
	padding: 0;
}
#albumart:-moz-full-screen .lightbox-content {
	margin-top: 20px;
	width: 100% !important;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	display: block;
	padding: 0;
}
#albumart:-webkit-full-screen .lightbox-content {
	margin-top: 20px;
	width: 100% !important;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	display: block;
	padding: 0;
}
#albumart:fullscreen .lightbox-caption p {
	display: block;
	font-weight: bold;
	font-size: 24px;
	text-shadow: 0px 0px 5px #000;
}
#albumart:-moz-full-screen .lightbox-caption p {
	display: block;
	font-weight: bold;
	font-size: 24px;
	text-shadow: 0px 0px 5px #000;
}
#albumart:-webkit-full-screen .lightbox-caption p {
	display: block;
	font-weight: bold;
	font-size: 24px;
	text-shadow: 0px 0px 5px #000;
}
.navbar .brand i {
	position: absolute;
	right: 10px;
	top: 13px;
}

/* temp */
#overlay {
	padding: 10%;
	border-radius: 20px;
	background: rgba(0,0,0,0.5);
	font-size: 35px;
	font-weight: bold;
	color: #ffffff;
	position: fixed;
	top: 20%;
	left: 35%;
	width: 10%;
	text-align: center;
	z-index: 5000;
}

/* touch vs no-touch */
.touch .no-touch-enabled {
	display: none;
}

/* setup wizard */
#setup-wizard {
	background: #ffffff;
	padding: 20px 10px;
	border-radius: 10px;
	border: 3px solid #333333;
	width: 100%;
	top: 2%;
	left: 0;
	position: fixed;
	z-index: 1000;
	box-shadow: 0 0 3000px 300px rgba(0,0,0, 0.75);
	box-sizing: border-box;
}

/* maximized player */
#player.maximized {
	left: 0;
	top: 79px;
	bottom: 0;
	right: 0;
	height: 100%;
}
#player.maximized .thumbnail {
	float: left;
	width: 37%;
	position: static;
	max-width: 100%;
	margin-top: 2%;
}
#player.maximized .span9 {
	margin-left: 3%;
	width: 50%;
	float: left;
}
#player.maximized .span9 > .span9 {
	margin-left: 0;
	width: 100%;
	float: none;
	margin-top: 15px;
}
#player.maximized .span9 > .span5 {
	width: 100%;
	float: none;
}
#player.maximized .span9 > .span4 {
	width: 100%;
	float: none;
	margin-top: 20px;
	margin-left: 0;
}
#player.maximized .btn {
	padding: 9px 12px;
}
#player.maximized .progressBar .start {
	left: 0;
	top: -6px;
}
#player.maximized .progressBar .stop {
	right: 0;
	top: -6px;
}
#player.maximized .progressBar .progress {
	margin: 11px 60px;
}
#player.maximized .span9 .toggleMaximize {
	display: inline;
}
/* new UI overrides; should replace old UI in next update */