<div id="artistOverviewView" ng-controller="ArtistOverviewController" class="view">
    <div ng-show="Artists && Artists.length > 0">
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown">Sort <span class="caret"></span> </a>
            <ul class="dropdown-menu">
                <li>
                    <a ng-click="sortService.sortArtists = 'Naam'">Alphabetic</a>
                </li>
                <li>
                    <a ng-click="sortService.sortArtists = '-albums.length'">By amount of albums</a>
                </li>
            </ul>
        </div>
        <h2>Artists</h2>
        <ul class="media-list">
            <li class="media" ng-repeat="artist in Artists | orderBy: sortService.sortArtists" ng-controller="ArtistController" bo-class="{false: '', true: 'highlight'}[$index == navIndex]" bindonce>
                <a bo-href="'#/letter/' + activeLetter.letter + '/artist/' + artist.Naam">
                <div class="card artistCard span3">

                    <div class="image-wrapper" bn-lazy-bg="{{artist.Naam}}"></div>
                    <div class="details">
                        <div class="title fade-out" bo-text="artist.Naam"></div>
                        <div class="subtitle fade-out">
                            <ng-pluralize count="artist.albums.length" when="{'0': 'No albmus', '1': '1 album', 'other': '{} albums'}"></ng-pluralize>
                        </div>
                    </div>
                </div>
                </a>
            </li>
        </ul>
    </div>
    <div ng-hide="Artists && Artists.length > 0">
    	<p>To start, pick a letter from the menu</p>
    </div>
</div>