<div id="artistView" ng-controller="ArtistController" class="view">
        
    <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown">Sort <span class="caret"></span> </a>
        <ul class="dropdown-menu">
            <li>
                <a ng-click="sortService.sortAlbums = 'Album'">Alphabetic</a>
            </li>
            <li>
                <a ng-click="sortService.sortAlbums = 'Jaar'">By Year</a>
            </li>
        </ul>
    </div>
    <h2>Collection</h2>
    
        <ul class="media-list">
            <li class="media" ng-repeat="album in albums  | orderBy: sortService.sortAlbums" ng-controller="AlbumController" ng-class="{false: '', true: 'highlight'}[$index == navIndex]">
                <a ng-href="#/letter/{{activeLetter.letter}}/artist/{{album.Artiest}}/album/{{album.Album}}">
                <div class="card albumCard span3">
                    <div class="image-wrapper" bn-lazy-bg="{{artist.Naam}}|{{album.Album}}"></div>
                    <div class="details">
                        <div class="title fade-out">
                            {{album.Album}}
                            <span ng-show="album.Jaar"> &nbsp;({{album.Jaar}}) </span>
                        </div>
                        <div class="subtitle fade-out">
                            <ng-pluralize count="album.tracks.length" when="{'0': 'No tracks', '1': '1 track', 'other': '{} tracks'}"></ng-pluralize>
                        </div>
                    </div>
                </div>
                </a>
                <div class="actions">
                    <button class="btn" ng-click="addToPlaylist(album)" ng-show="albumstate == 'plus'">
		                <i class="ion-{{albumstate}}"></i>
		            </button>
		            <button class="btn" ng-click="removeFromPlaylist(album)" ng-show="albumstate == 'minus'">
		                <i class="ion-{{albumstate}}"></i>
		            </button>
                </div>
            </li>
        </ul>
</div>