<div ng-controller="PlayerController" class="container" ng-click="show(); $event.stopPropagation()">
	<div class="span11">
		<img class="thumbnail span2" bn-lazy-src="{{track.Artiest}}|{{track.Album}}">
		<div class="span9 offset2">
			<div class="progressBar span9" style="margin-left: 0;">
				<span class="time start">{{position | timeFilter}}</span>
				<div class="progress active" ng-click="updatePosition($event)">
					<div class="bar" ng-style="{width: pos()}"></div>
				</div>
				<span class="time stop">{{len | timeFilter}}</span>
			</div>
			<div class="span5" style="margin-left: 0;">
				<h3 class="info-Title">{{track.Titel}}</h3>
				<div class="info">
					<span class="info-Artist">{{track.Artiest}}</span> - <span class="info-Album">{{track.Album}}</span>
				</div>
			</div>
			<div class="span4">
				<div class="btn-toolbar">
					<div class="btn-group">
						<button class="btn" ng-click="previous()">
							<i class="icon-step-backward"></i>
						</button>
						<button class="btn" ng-click="playpause()">
							<i class="icon-{{playstate}}"></i>
						</button>
						<button class="btn" ng-click="stop()">
							<i class="icon-stop"></i>
						</button>
						<button class="btn" ng-click="next()">
							<i class="icon-step-forward"></i>
						</button>
					</div>
					<div class="btn-group">

						<button class="btn" ng-click="toggleRandom()">
							<i class="icon-{{isRandom}}"></i>
						</button>

						<button class="btn" ng-click="toggleMute()" id="mute-btn">
							<i class="icon-volume-{{muteState}}"></i>
						</button>

						<button class="btn" ng-show="lastfmkey" ng-click="love(track.albumNode, track)">
							<i class="icon-heart"></i>
						</button>

						<button class="btn" ng-click="toggleView()">
							<i class="icon-{{playlistView}}"></i>
						</button>
						
						<button class="btn" ng-click="hide(); $event.stopPropagation()">
							<i class="icon-chevron-down"></i>
						</button>
					</div>
				</div>
				<audio controls preload="auto">
					<p>
						Your browser does not support native audio playback
					</p>
				</audio>
			</div>
		</div>
	</div>
</div>