<div ng-controller="PlaylistController" id="playlist">
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Select a playlist</a>
        <ul class="dropdown-menu" id="playlistSelector" role="menu">
            <li>
                <a ng-click="setPlaylist('track')" data-toggle="tab">Default</a>
            </li>
            <li ng-repeat="playlist in playlists" bindonce class="smallTab">
                <a ng-click="setPlaylist(playlist)" data-toggle="tab" bo-text="playlist.title" ng-attr-title="{{playlist.title}}"></a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="setLogin">
    	
    	<div class="">
    		<input type="text" ng-model="data.playlistName" placeholder="New playlist name">
    		<button class="btn" ng-click="addPlaylist()">
    			<i class="ion-plus"></i>
    		</button>
    	</div>
    	      
        <div class="playlist tab-pane active" id="trackPlaylist" ng-show="selectedPlaylist">
        	<div class="actions">
                <button class="btn" ng-click="deletePlaylist(selectedPlaylist)">
	                <i class="ion-trash-a"></i>
	            </button>
            </div>
            <h2>
            	{{selectedPlaylist.title}}
            	<input type="text" ng-model="data.alterPlaylistName">
            	<button class="btn" ng-click="renamePlaylist(selectedPlaylist)" placeholder="New name for this playlist">
            		<i class="ion-upload"></i>
            	</button>
            </h2>            
            <table class="table table-striped table-bordered table-hover" ng-show="playlistTracks.length > 0">
                <tbody>
                    <tr ng-repeat="track in playlistTracks" ng-controller="TrackController">
                        <td class="trackno" ng-click="playTrack(track.albumNode, track, 'track')"><span ng-show="track.isPlaying"> <i class="ion-play"></i> </span>&nbsp;</td>
                        <td ng-click="playTrack(track.albumNode, track, 'track')">{{track.Artiest}}</td>
                        <td ng-click="playTrack(track.albumNode, track, 'track')">{{track.Titel}}</td>
                        <td class="dur">{{track.Tijd}}
                        <button class="btn" ng-click="removeFromPlaylist(track)">
                            <i class="icon-minus" title="Track added to playlist"></i>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>