<div ng-controller="LetterController">
	<h1 class="toggle"><i class="icon-align-justify" data-toggle="tooltip" data-placement="bottom" title="Log in to play music"></i>JSMusicDB</h1>
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li ng-repeat="(firstletter, letter) in Letters" ng-class="{true: 'active', false: ''}[letter.active]">
					<a ng-class="{true: 'active', false: ''}[letter.active]" ng-href="#/letter/{{firstletter}}">{{firstletter}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="wrapper" ng-controller="PlaylistController">
	<div class="well">
	    <h2>Playlists</h2>
	    <ul class="nav nav-tabs">
	        <li class="active"><a href="#trackPlaylist" data-toggle="tab">Default</a></li>
	        <li><a href="#albumPlaylist" data-toggle="tab">Albums</a></li>
	    </ul>
	    <div class="tab-content">
    	    <div class="playlist tab-pane active" id="trackPlaylist">
    	        <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="trackno">&nbsp;</th>
                            <th class="track">Artist</th>
                            <th class="track">Album</th>
                            <th class="track">Track</th>
                            <th class="dur">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="track in playlist | orderBy: orderTracks" ng-controller="TrackController">
                            <td class="trackno" ng-click="playTrack(track.albumNode, track, 'track')"><span ng-show="track.isPlaying"> <img src="img/ani_equalizer_black.gif" alt=""> </span></td>
                            <td ng-click="playTrack(track.albumNode, track, 'track')">{{track.Artiest}}</td>
                            <td ng-click="playTrack(track.albumNode, track, 'track')">{{track.Album}}</td>
                            <td ng-click="playTrack(track.albumNode, track, 'track')">{{track.Titel}}</td>
                            <td>{{track.Tijd}}
                            	<button class="btn" ng-click="removeFromPlaylist(track)">
					                <i class="icon-minus" title="Track added to playlist"></i>
					            </button>	
                            </td>
                        </tr>
                    </tbody>
                </table>
    	    </div>
    		<div class="playlist tab-pane" id="albumPlaylist">
    			<div class="group" ng-repeat="album in playlistAlbums" ng-controller="AlbumController">
    				<img bn-lazy-src="{{album.Artiest}}|{{album.Album}}" class="art" align="left">
    				<div class="actions">
	    				<button class="btn" ng-click="removeFromPlaylist(album)">
			                <i class="icon-minus"></i>
			            </button>
			        </div>
			        <h3>{{album.Artiest}} - {{album.Album}} <span ng-show="album.Jaar"> &nbsp;({{album.Jaar}}) </span></h3>
    				<table class="table table-striped table-bordered table-hover">
    					<thead>
    						<tr>
    							<th class="trackno">&nbsp;</th>
    							<th class="trackno">#</th>
    							<th class="track">Track</th>
    							<th class="dur">Duration</th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr ng-repeat="track in album.tracks| orderBy: orderTracks" ng-controller="TrackController" ng-click="playTrack(album, track, 'album')">
    							<td class="trackno"><span ng-show="track.isPlaying"> <img src="img/ani_equalizer_black.gif" alt=""> </span></td>
    							<td class="trackno">{{track.Nummer}}</td>
    							<td>{{track.Titel}}</td>
    							<td>{{track.Tijd}}</td>
    						</tr>
    
    					</tbody>
    				</table>
    			</div>
    		</div>
    	</div>
		<div class="alert alert-info" ng-show="playlist.length == 0">
			<strong>Please note!</strong> Add/play some albums first and come back
		</div>
	</div>
</div>