<div ng-controller="SettingsController" no-key-trap>
	<div class="wrapper">
		<div class="well">
			<form id="setLogin" class="form-horizontal">
				<legend>
					Server settings
				</legend>
				<div ng-hide="loggedIn">
					<div ng-show="loginError" class="alert alert-error">
						<strong>Error!</strong> Please check all fields and resubmit.
					</div>
					<div class="control-group">
						<label class="control-label" for="nas">Server type</label>
						<div class="controls">
							<select ng-model="server">
								<option value="0">Debug, no server</option>
								<option value="1">Synology</option>
								<option value="2">Node.JS</option>
							</select>
						</div>
					</div>

					<div class="control-group" ng-show="server">
						<label class="control-label" for="nasUrl">Server URL</label>
						<div class="controls">
							<input type="url" id="nasUrl" placeholder="http://www.example.com:5000" ng-model="url">
						</div>
					</div>
					<div class="control-group" ng-show="server">
						<label class="control-label" for="nasUser">Username</label>
						<div class="controls">
							<input type="text" id="nasUser" placeholder="Username" ng-model="username">
						</div>
					</div>
					<div class="control-group" ng-show="server">
						<label class="control-label" for="nasPassword">Password</label>
						<div class="controls">
							<input type="password" id="nasPassword" ng-model="password">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="nasKeep">Store credentials</label>
						<div class="controls">
							<input type="checkbox" id="nasKeep" value="true" ng-model="store">
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary" ng-click="login()">
							Log in <span ng-show="isLoading"> <img src="css/img/ajax-submit.gif" /> </span>
						</button>
					</div>
				</div>
				<div class="control-group" ng-show="loggedIn">
					<div class="controls">
						Logged in as user {{username}} &nbsp;<a href="#/settings" ng-click="logout()">Logout</a>
					</div>
				</div>
				<legend>
					Last.FM settings
				</legend>
				<div class="control-group">
					<div class="controls">
						<span ng-hide="lastfmkey"> <a ng-href={{lastfmLink}}>Connect to last.fm</a> </span>
						<span ng-show="lastfmkey"> Connected to last.fm <a href="#/settings" data-bind="click: doRemoveLastFM">disconnect</a> </span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>